USE [DB_LIVESCORE]
GO
/****** Object:  Table [dbo].[DETAILS_CARD]    Script Date: 4/2/2021 4:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAILS_CARD](
	[IDMATCH] [varchar](10) NOT NULL,
	[TIMECARD] [varchar](10) NOT NULL,
	[CATEGORY] [varchar](10) NULL,
	[PLAYER_A] [varchar](200) NULL,
	[PLAYER_B] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMATCH] ASC,
	[TIMECARD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETAILS_SCORE]    Script Date: 4/2/2021 4:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAILS_SCORE](
	[IDMATCH] [varchar](10) NOT NULL,
	[TIMESCORE] [varchar](10) NOT NULL,
	[SCORE_A] [smallint] NULL DEFAULT ((0)),
	[SCORE_B] [smallint] NULL DEFAULT ((0)),
	[PLAYER_A] [varchar](200) NULL,
	[PLAYER_B] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMATCH] ASC,
	[TIMESCORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP_MATCH]    Script Date: 4/2/2021 4:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GROUP_MATCH](
	[GROUPID] [varchar](20) NOT NULL,
	[GROUPNAME] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATCH]    Script Date: 4/2/2021 4:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATCH](
	[ID] [varchar](10) NOT NULL,
	[ID_TEAMA] [varchar](10) NULL,
	[ID_TEAMB] [varchar](10) NULL,
	[ID_GROUP] [varchar](20) NULL,
	[STARTTIME] [datetime] NULL,
	[STATUS_MATCH] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEAM]    Script Date: 4/2/2021 4:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM](
	[IDTEAM] [varchar](10) NOT NULL,
	[NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTEAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/2/2021 4:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[USR] [varchar](100) NOT NULL,
	[PWD] [varchar](100) NULL,
	[LOGINSTATUS] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DETAILS_CARD] ([IDMATCH], [TIMECARD], [CATEGORY], [PLAYER_A], [PLAYER_B]) VALUES (N'AS', N'45+1''', N'YELLOW', NULL, N'Uros Spajic')
INSERT [dbo].[DETAILS_CARD] ([IDMATCH], [TIMECARD], [CATEGORY], [PLAYER_A], [PLAYER_B]) VALUES (N'AS', N'76''', N'YELLOW', NULL, N'Nemanja Gudelj')
INSERT [dbo].[DETAILS_CARD] ([IDMATCH], [TIMECARD], [CATEGORY], [PLAYER_A], [PLAYER_B]) VALUES (N'AS', N'88''', N'YELLOW', N'Tamkin Khalilzade', NULL)
INSERT [dbo].[DETAILS_SCORE] ([IDMATCH], [TIMESCORE], [SCORE_A], [SCORE_B], [PLAYER_A], [PLAYER_B]) VALUES (N'AS', N'16''', 0, 1, NULL, N'Aleksandar Mitrovic')
INSERT [dbo].[DETAILS_SCORE] ([IDMATCH], [TIMESCORE], [SCORE_A], [SCORE_B], [PLAYER_A], [PLAYER_B]) VALUES (N'AS', N'59''', 1, 1, N'Emin Makhmudov', NULL)
INSERT [dbo].[DETAILS_SCORE] ([IDMATCH], [TIMESCORE], [SCORE_A], [SCORE_B], [PLAYER_A], [PLAYER_B]) VALUES (N'AS', N'81''', 1, 2, NULL, N'Aleksandar Mitrovic')
INSERT [dbo].[GROUP_MATCH] ([GROUPID], [GROUPNAME]) VALUES (N'ENGCS', N'ENGLAND - CHAMPIONSHIP')
INSERT [dbo].[GROUP_MATCH] ([GROUPID], [GROUPNAME]) VALUES (N'ENGL1', N'ENGLAND - LEAGUGE1')
INSERT [dbo].[GROUP_MATCH] ([GROUPID], [GROUPNAME]) VALUES (N'SPLGSB', N'SPAIN - LALIGA SMARTBANK')
INSERT [dbo].[MATCH] ([ID], [ID_TEAMA], [ID_TEAMB], [ID_GROUP], [STARTTIME], [STATUS_MATCH]) VALUES (N'AS', N'AZE', N'SER', N'WCUEFAQ1GA', CAST(N'2021-03-30 00:00:00.000' AS DateTime), N'FT')
INSERT [dbo].[MATCH] ([ID], [ID_TEAMA], [ID_TEAMB], [ID_GROUP], [STARTTIME], [STATUS_MATCH]) VALUES (N'BB', N'BEL', N'BLA', N'WCUEFAQ1GE', CAST(N'2021-03-31 00:00:00.000' AS DateTime), N'FT')
INSERT [dbo].[MATCH] ([ID], [ID_TEAMA], [ID_TEAMB], [ID_GROUP], [STARTTIME], [STATUS_MATCH]) VALUES (N'CS', N'CYP', N'SLO', N'WCUEFAQ1GH', CAST(N'2021-03-30 00:00:00.000' AS DateTime), N'FT')
INSERT [dbo].[TEAM] ([IDTEAM], [NAME]) VALUES (N'AZE', N'Azerbaijan')
INSERT [dbo].[TEAM] ([IDTEAM], [NAME]) VALUES (N'BEL', N'Belgium')
INSERT [dbo].[TEAM] ([IDTEAM], [NAME]) VALUES (N'BLA', N'Belarus')
INSERT [dbo].[USERS] ([USR], [PWD], [LOGINSTATUS]) VALUES (N'admin', N'admin', 0)
INSERT [dbo].[USERS] ([USR], [PWD], [LOGINSTATUS]) VALUES (N'anhkiet', N'191', 0)
INSERT [dbo].[USERS] ([USR], [PWD], [LOGINSTATUS]) VALUES (N'bahuy', N'420', 0)
ALTER TABLE [dbo].[DETAILS_CARD]  WITH CHECK ADD  CONSTRAINT [FK_MATCH_CARD] FOREIGN KEY([IDMATCH])
REFERENCES [dbo].[MATCH] ([ID])
GO
ALTER TABLE [dbo].[DETAILS_CARD] CHECK CONSTRAINT [FK_MATCH_CARD]
GO
ALTER TABLE [dbo].[DETAILS_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_MATCH_SCORE] FOREIGN KEY([IDMATCH])
REFERENCES [dbo].[MATCH] ([ID])
GO
ALTER TABLE [dbo].[DETAILS_SCORE] CHECK CONSTRAINT [FK_MATCH_SCORE]
GO
ALTER TABLE [dbo].[MATCH]  WITH CHECK ADD  CONSTRAINT [FK_MATCH_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_MATCH] ([GROUPID])
GO
ALTER TABLE [dbo].[MATCH] CHECK CONSTRAINT [FK_MATCH_GROUP]
GO
ALTER TABLE [dbo].[MATCH]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_MATCH_A] FOREIGN KEY([ID_TEAMA])
REFERENCES [dbo].[TEAM] ([IDTEAM])
GO
ALTER TABLE [dbo].[MATCH] CHECK CONSTRAINT [FK_TEAM_MATCH_A]
GO
ALTER TABLE [dbo].[MATCH]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_MATCH_B] FOREIGN KEY([ID_TEAMB])
REFERENCES [dbo].[TEAM] ([IDTEAM])
GO
ALTER TABLE [dbo].[MATCH] CHECK CONSTRAINT [FK_TEAM_MATCH_B]
GO
ALTER TABLE [dbo].[DETAILS_CARD]  WITH CHECK ADD  CONSTRAINT [C_CATEGORY] CHECK  (([CATEGORY] like 'RED' OR [CATEGORY] like 'YELLOW'))
GO
ALTER TABLE [dbo].[DETAILS_CARD] CHECK CONSTRAINT [C_CATEGORY]
GO
ALTER TABLE [dbo].[DETAILS_CARD]  WITH CHECK ADD  CONSTRAINT [C_PLAYER] CHECK  (([TIMECARD] IS NOT NULL AND ([PLAYER_A] IS NOT NULL AND [PLAYER_B] IS NULL OR [PLAYER_A] IS NULL AND [PLAYER_B] IS NOT NULL)))
GO
ALTER TABLE [dbo].[DETAILS_CARD] CHECK CONSTRAINT [C_PLAYER]
GO
ALTER TABLE [dbo].[DETAILS_SCORE]  WITH CHECK ADD  CONSTRAINT [C_PLAYER_A_B] CHECK  (([TIMESCORE] IS NOT NULL AND ([PLAYER_A] IS NOT NULL AND [PLAYER_B] IS NULL) OR [PLAYER_A] IS NULL AND [PLAYER_B] IS NOT NULL))
GO
ALTER TABLE [dbo].[DETAILS_SCORE] CHECK CONSTRAINT [C_PLAYER_A_B]
GO
ALTER TABLE [dbo].[MATCH]  WITH CHECK ADD  CONSTRAINT [C_TEAM] CHECK  ((NOT [ID_TEAMA]=[ID_TEAMB]))
GO
ALTER TABLE [dbo].[MATCH] CHECK CONSTRAINT [C_TEAM]
GO
ALTER TABLE [dbo].[MATCH]  WITH CHECK ADD  CONSTRAINT [C_TIME] CHECK  ((datediff(minute,[STARTTIME],getdate())>(90) AND [STATUS_MATCH]='FT' OR datediff(minute,[STARTTIME],getdate())=(45) AND [STATUS_MATCH]='HT' OR (datediff(minute,[STARTTIME],getdate())<(90) OR datediff(minute,[STARTTIME],getdate())>(0)) AND NOT datediff(minute,[STARTTIME],getdate())=(45) AND [STATUS_MATCH]='PL'))
GO
ALTER TABLE [dbo].[MATCH] CHECK CONSTRAINT [C_TIME]
GO
